html{ 
    background: linear-gradient(120deg, #fe9cc0, #dca4ff, #dfb5ff, #94d9fe);
    background-size: 300% 300%;
    animation: movimiento 8s ease infinite;
}

@keyframes movimiento {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 60%; }
}

*{
    *border: solid 1px white;
}

main{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    gap: 2rem;
}

.titulo h1{
    color: rgb(182, 61, 124);
    font-family: "Delius Swash Caps", cursive;
    text-align: center;
    font-size: 70px;
    margin-top: 10px;
    line-height: 1.1;
  }

.nav a{
    color: rgb(188, 27, 129);
    font-family: "Kavivanar", cursive;
    text-decoration: none;
    background-color: rgb(229, 185, 255);
    padding: 12px 30px;
    display: block;
    margin: 40px;
    margin: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: solid 2px rgb(151, 81, 255);
    transition: all 0.3s easeas-in-out;
    margin-block: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

li a:hover{
    background-color: rgb(182, 61, 124);
    color: white;
    transform: scale(1.3);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);

}
.nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
